{% extends 'PredictionApp/base.html'%}
{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" href="../../static/style.css">
    <style>
        td{
            padding: 1rem 2rem;
            text-align: center;
        }
        img{
            width: 75%;
            height: 75%;
            margin: 2rem 0;
            align-self: center;
        }
        
    </style>
{% endblock %}

{% block body_block %}
    <h4 style="margin-top: 6rem; align-self: center;">VGG Net</h4>
    <img src="../../static/images/architecture.jpg" alt="vgg-16 architecture">
    <h4 style="color: aliceblue;align-self: center;margin-top: 3rem;">Detailed VGG-16 layer architecture</h4>
    <table style="width: 75%; align-self: center;margin: 2rem 0;">
        <tr>
            <th colspan="4"><h4>VGG-16 Architecture</h4></th>
        </tr>
        <tr>
            <th>Layer</th>
            <th>Filter size</th>
            <th>No. of Filters</th>
            <th>Output dimension</th>
        </tr>
        <tr>
            <td>Conv 1-1</td>
            <td>3 * 3</td>
            <td>64</td>
            <td>224 * 224 * 64</td>
        </tr>
        <tr>
            <td>Conv 1-2</td>
            <td>3 * 3</td>
            <td>64</td>
            <td>224 * 224 * 64</td>
        </tr>
        <tr>
            <td>MaxPool</td>
            <td colspan="2">Size (2, 2), stride (2,2)</td>
            <td>112 * 112 * 64</td>
        </tr>
        <tr>
            <td>Conv 2-1</td>
            <td>3 * 3</td>
            <td>128</td>
            <td>112 * 112 * 128</td>
        </tr>
        <tr>
            <td>Conv 2-2</td>
            <td>3 * 3</td>
            <td>128</td>
            <td>112 * 112 * 128</td>
        </tr>
        <tr>
            <td>MaxPool</td>
            <td colspan="2">Size (2, 2), stride (2,2)</td>
            <td>56 * 56 * 128</td>
        </tr>
        <tr>
            <td>Conv 3-1</td>
            <td>3 * 3</td>
            <td>256</td>
            <td>56 * 56 * 256</td>
        </tr>
        <tr>
            <td>Conv 3-2</td>
            <td>3 * 3</td>
            <td>256</td>
            <td>56 * 56 * 256</td>
        </tr>
        <tr>
            <td>Conv 3-3</td>
            <td>3 * 3</td>
            <td>256</td>
            <td>56 * 56 * 256</td>
        </tr>
        <tr>
            <td>MaxPool</td>
            <td colspan="2">Size (2, 2), stride (2,2)</td>
            <td>28 * 28 * 256</td>
        </tr>
        <tr>
            <td>Conv 4-1</td>
            <td>3 * 3</td>
            <td>512</td>
            <td>28 * 28 * 512</td>
        </tr>
        <tr>
            <td>Conv 4-2</td>
            <td>3 * 3</td>
            <td>512</td>
            <td>28 * 28 * 512</td>
        </tr>
        <tr>
            <td>Conv 4-3</td>
            <td>3 * 3</td>
            <td>512</td>
            <td>28 * 28 * 512</td>
        </tr>
        <tr>
            <td>MaxPool</td>
            <td colspan="2">Size (2, 2), stride (2,2)</td>
            <td>14 * 14 * 512</td>
        </tr>
        <tr>
            <td>Conv 5-1</td>
            <td>3 * 3</td>
            <td>512</td>
            <td>14 * 14 * 512</td>
        </tr>
        <tr>
            <td>Conv 5-2</td>
            <td>3 * 3</td>
            <td>512</td>
            <td>14 * 14 * 512</td>
        </tr>
        <tr>
            <td>Conv 5-3</td>
            <td>3 * 3</td>
            <td>512</td>
            <td>14 * 14 * 512</td>
        </tr>
        <tr>
            <td>MaxPool</td>
            <td colspan="2">Size (2, 2), stride (2,2)</td>
            <td>7 * 7 * 512</td>
        </tr>
        <tr>
            <td>Flatten</td>
            <td colspan="3">Neurons 25088</td>
        </tr>
        <tr>
            <td>Dense</td>
            <td colspan="3">Neurons 4096</td>
        </tr>
        <tr>
            <td>Dense</td>
            <td colspan="3">Neurons 4096</td>
        </tr>
        <tr>
            <td>Dense (Output)</td>
            <td colspan="3">Neurons 4</td>
        </tr>
    </table>
{% endblock %}